name: NodeJS

on: push

env:
  NEXT_TELEMETRY_DISABLED: 1

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-deps-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci
        if: steps.cache-dependencies.outputs.cache-hit != 'true'

      - name: Run build
        run: npm run build

      - name: Run eslint
        run: npm run lint

      - name: Run prettier
        run: npm run format:check

      - name: Run tests
        run: npm run test

      - name: Check translations
        run: npm run i18n:extract && npm run i18n:check
